
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #E38B29;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.recipe-list {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.recipe-card p {
    margin-bottom: 5px;
}

.recipe-card a {
    display: inline-block;
    margin-top: 10px;
    color: #ca7412;
    font-weight: bold;
    text-decoration: none;
}

.recipe-card a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #E38B29;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #F1A661;
    cursor: not-allowed;
}



